@import "./components/normalize";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

.container {
  max-width: 1920px;
  margin: auto;
}